h1{
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    gap: 0.4rem;
    & input{
        outline: none;
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #ccc;
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
        color: black;
        &:focus{
            transform: scale(1.02);
            outline: none;
            border: none;
            background-color: white;
        }
        &[type="submit"]{
            text-transform: uppercase;
            background-color: black;
            box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.3);
            color: white;
        }
    }
}